<!DOCTYPE html>
<html>
    <head>
        <title>Lista de productos</title>
    </head>
    <body>
        <h3>{{msg}}</h3>
        <table border="1">
            <thead>
                <th>ID</th>
                <th>PRODUCTO</th>
                <th>VALOR</th>
                <th>CANTIDAD</th>
            </thead>
            <tbody>
                {% for p in productos %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.producto_nombre}}</td>
                    <td>{{p.producto_valor}}</td>
                    <td>{{p.producto_cantidad}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for d in data_json %}
        <h1>{{d}}</h1>
        {% endfor %}
    </body>
</html>